<!-- About -->
<section class="content-section bg-light" id="about" style="padding: 50px">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h2>Cutting Edge Detection</h2>
        <p class="lead mb-5">LPG Monitoring System presents in a nutshell, an early warning detection system that
          comprises a remotely routed integrated circuit with sensors for detecting LP gas leakages at a gas filling
          station.

          The information gathered from this detection is channeled to this web application via the Internet so that
          the
          Station Owners as well as the Regulated Body - the Environmental Protection Agency (EPA) can take safety
          measures to protect both human lives and property.
        </p>
        {{!-- <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">What We Offer</a> --}}
      </div>
    </div>
  </div>
</section>

<!-- Services -->

<!-- Callout -->
<section class="callout" style="padding: 30px">
  <div class="container text-left">

    <div class="row">

      <div class="col-md-8">
        <div id="chart-container">Fusion Chart Here</div>
      </div>

      <div class="col-md-4" id="dynamics">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Gas Concentration</h5>
            <h6 class="card-subtitle mb-2 text-muted">LPG<small>ppm</small></h6>
            <p class="card-text text-center" id="gas-conc" style="font-size:50px">
              {{#if result.concentration}}{{result.concentration}}{{else}}--{{/if}}</p>

            <small class="float-right">time: <span class="t_stamp">{{#if
                result.time_stamp}}{{result.time_stamp}}{{else}}--{{/if}}</span></small>
          </div>
        </div>
        <br>

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Temperature</h5>
            <h6 class="card-subtitle mb-2 text-muted"><sup>o</sup>C</h6>
            <p class="card-text text-center" id="temperature" style="font-size: 50px">
              {{#if result.temperature}}{{result.temperature}}{{else}}--{{/if}}
            </p>

            <small class="float-right">time: <span class="t_stamp">{{#if
                result.time_stamp}}{{result.time_stamp}}{{else}}--{{/if}}</span></small>
          </div>
        </div>
        <br>

        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Humidity</h5>
            <h6 class="card-subtitle mb-2 text-muted">%</h6>
            <p class="card-text text-center" id="humidity" style="font-size: 50px">
              {{#if result.humidity}}{{result.humidity}}{{else}}--{{/if}}
            </p>

            <small class="float-right">time: <span class="t_stamp">{{#if
                result.time_stamp}}{{result.time_stamp}}{{else}}--{{/if}}</span></small>
          </div>
        </div>

      </div>
    </div>
    {{!-- <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/template-overviews/stylish-portfolio/">Download
      Now!</a> --}}
  </div>
</section>

<!-- Map -->
<section id="contact" class="map">
  <iframe width="100%" height="100%" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=5.7597712,-0.2219285&amp;q=1%20University%20Avenue%2C%20%20Berekuso+(Ashesi%20University)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"
    frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
    <a href="https://www.maps.ie/map-my-route/">Draw map route</a>
  </iframe>
  {{!-- <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
  <br />
  <small>
    <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
  </small> --}}
</section>

<script>
  var app = new Vue({
    el: '#dynamics'
  })
</script>